*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/plugin-lmmp-project/src/main/assets/lmmp-runtime.zip
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties